Node_Red
[{"id":"9efc1f4d.ac19a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5a92f3a6.6b7fcc","type":"ui_form","z":"9efc1f4d.ac19a","name":"","label":"","group":"5184cc5d.7125dc","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":220,"wires":[["9611d1d0.092bb8"]]},{"id":"9611d1d0.092bb8","type":"function","z":"9efc1f4d.ac19a","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["9a8dd431.ce9b4","4020c5b.266dbbc"]]},{"id":"616286e5.d47be","type":"function","z":"9efc1f4d.ac19a","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["95ff3d71.1663"]]},{"id":"c5162c90.682448","type":"debug","z":"9efc1f4d.ac19a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":80,"wires":[]},{"id":"95ff3d71.1663","type":"ui_text","z":"9efc1f4d.ac19a","group":"5184cc5d.7125dc","order":3,"width":"11","height":"6","name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":680,"y":300,"wires":[]},{"id":"9a8dd431.ce9b4","type":"ui_text","z":"9efc1f4d.ac19a","group":"5184cc5d.7125dc","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":280,"wires":[]},{"id":"4020c5b.266dbbc","type":"watson-conversation-v1","z":"9efc1f4d.ac19a","name":"Customer Care1","workspaceid":"5c68b379-739a-4548-8ec1-2346804c950d","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/c59db7f6-5d78-4f51-8fd1-1be0a9847abd","timeout":"","optout-learning":false,"x":490,"y":100,"wires":[["c5162c90.682448","616286e5.d47be"]]},{"id":"5184cc5d.7125dc","type":"ui_group","z":"","name":"chatbot","tab":"7ae92f8c.14ce68","order":1,"disp":true,"width":13,"collapse":false},{"id":"7ae92f8c.14ce68","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]
